<div class="btn-group-sm" role="group">
  <a href="/books/{{ this.id }}/edit"
  class="btn btn-sm btn-success"
  type="submit"
  name="edit">Edit</a>

  <form method="POST" action="/{{ this.id }}?_method=DELETE">
    <input
    class="btn btn-sm btn-danger"
    type="submit"
    name="delete"
    value="Delete">
  </form>
</div>
