<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <a class="navbar-brand  nav-padding" href="/">Home</a>
    <a class="navbar-brand  nav-padding" href="/books">Add Book</a>
    <a class="navbar-brand  nav-padding" href="/authors">Add Author</a>
  </div>
</nav>
